#!/bin/sh
export ELASTIC_USERNAME="es-hands-on"
export ELASTIC_PASSWORD="Password!123"
export ELASTIC_CLOUD_AUTH="${ELASTIC_USERNAME}:${ELASTIC_PASSWORD}"
export ELASTIC_CLOUD_ID="DEPLOYMENT_NAME:XXXX"
export KIBANA_HOST="xxx.elastic-cloud.com"
export HANDS_ON_KEY="default"
